In [5]:
import pandas as pd
import numpy as np

firmo = pd.read_csv("Firmographic_Information-0.csv")
financial = pd.read_csv("Financials_Annual_-0.csv")
firmo.loc[:,["BQ_ID","BQ_COMPANY_NAME","BQ_COMPANY_ADDRESS1_ZIP5","BQ_COMPANY_ADDRESS1_ZIP9"]].loc[firmo["BQ_ID"] == 100002521540]

,BQ_ID,BQ_COMPANY_NAME,BQ_COMPANY_ADDRESS1_ZIP5,BQ_COMPANY_ADDRESS1_ZIP9
199,100002521540,D.H.S. CORP,77042.0,77042-3809

# Création du dataset join, financial & firmographic

In [6]:
firmo["BQ_COMPANY_ADDRESS1_ZIP5"].isna().sum()

186

### On a 186 valeurs manquantes pour le zip

In [7]:
firmo.loc[firmo["BQ_COMPANY_ADDRESS1_ZIP5"].isna()].loc[:,["BQ_COMPANY_ADDRESS1_LINE_1","BQ_COMPANY_ADDRESS1_CITY","BQ_COMPANY_ADDRESS1_STATE"]]

,BQ_COMPANY_ADDRESS1_LINE_1,BQ_COMPANY_ADDRESS1_CITY,BQ_COMPANY_ADDRESS1_STATE
79,NaN,Las Vegas,NV
118,"New Castle, DE",NaN,No State Reported
148,"New Castle, DE",NaN,No State Reported
149,Care of Citius Pharmaceuticals Cranford,NaN,No State Reported
167,NaN,NaN,TX
...,...,...,...
4822,"New Castle, DE",NaN,No State Reported
4970,NaN,Garden City,NY
5155,NaN,NaN,NY
5216,NaN,NaN,CA
5301,NaN,NaN,NY

Mais on pourra dans le futur recrée ces valeurs manquantes à partir d'autres colonnes comme address, city ou state.

In [8]:
financial.loc[:,["BQ_ID","BQ_COMPANY_NAME"]].sample(5)

              BQ_ID                    BQ_COMPANY_NAME
43226  100004746843                         KADANT INC
11589  100000678592               ANTERO MIDSTREAM LLC
57779  100007729941             SCHMITT INDUSTRIES INC
50652  100006349773                           OKTA INC
22079  100068121754  ISHARES MORNINGSTAR SMALL-CAP ETF

In [9]:
firmo.loc[:,["BQ_ID","BQ_COMPANY_NAME","BQ_COMPANY_ADDRESS1_ZIP5","BQ_COMPANY_ADDRESS1_ZIP9"]].sample(5)

,BQ_ID,BQ_COMPANY_NAME,BQ_COMPANY_ADDRESS1_ZIP5,BQ_COMPANY_ADDRESS1_ZIP9
1284,100025164010,DICE THERAPEUTICS INC.,94080.0,94080-6212
3801,100007480451,ROKU INC,95112.0,95112-1030
3004,100005450951,MANITEX INTERNATIONAL INC,60455.0,60455-2304
4410,100006140098,NEWMARKET CORP,23219.0,23219-4350
1024,100001342015,"BOXED, INC.",NaN,NaN

In [10]:
df = financial.set_index("BQ_ID").join(firmo.loc[:,["BQ_ID","BQ_COMPANY_NAME","BQ_COMPANY_ADDRESS1_ZIP5","BQ_COMPANY_ADDRESS1_ZIP9"]].set_index("BQ_ID"), rsuffix="firmo").reset_index()
df.sample()

,BQ_ID,BQ_COMPANY_NAME,BQ_WEBSITE,BQ_YEAR,BQ_REVENUE,BQ_EBITDA,BQ_COR,BQ_NET_INCOME,BQ_GROSS_PROFIT,BQ_TOTAL_ASSETS,...,BQ_TOTAL_DEBT,BQ_TOTAL_LIABILITIES,BQ_SHAREHOLDERS_EQUITY,BQ_TOTAL_LIABILITIES_AND_EQUITY,BQ_CURRENT_RATIO,BQ_QUICK_RATIO,BQ_DEBT_TO_EQUITY_RATIO,BQ_COMPANY_NAMEfirmo,BQ_COMPANY_ADDRESS1_ZIP5,BQ_COMPANY_ADDRESS1_ZIP9
15594,100067981072,VERADIGM INC,https://veradigm.com/,2014,1.311931e+09,164751875.0,636806804.0,65451411.0,675124519.0,916925967.0,...,NaN,1.180110e+09,1.284220e+09,1.180110e+09,0.934437,0.738047,0.41986,VERADIGM INC,27609.0,27609-5177

## Les colonnes qui vont nous intéresser sont :

In [11]:
df.columns

Index(['BQ_ID', 'BQ_COMPANY_NAME', 'BQ_WEBSITE', 'BQ_YEAR', 'BQ_REVENUE',
       'BQ_EBITDA', 'BQ_COR', 'BQ_NET_INCOME', 'BQ_GROSS_PROFIT',
       'BQ_TOTAL_ASSETS', 'BQ_OPERATING_EXPENSES', 'BQ_OPERATING_INCOME',
       'BQ_TAX_AND_INTEREST', 'BQ_GROSS_PROFIT_MARGIN', 'BQ_EBITDA_MARGIN',
       'BQ_ASSET_TURNOVER', 'BQ_NET_PROFIT_MARGIN', 'BQ_RETURN_ON_ASSETS',
       'BQ_RETURN_ON_SALES', 'BQ_REVENUE_PER_EMP', 'BQ_EBITDA_PER_EMP',
       'BQ_COR_PER_EMP', 'BQ_NET_INCOME_PER_EMP', 'BQ_GROSS_PROFIT_PER_EMP',
       'BQ_TOTAL_ASSETS_PER_EMP', 'BQ_PAYROLL_PER_EMP',
       'BQ_OPERATING_EXPENSES_PER_EMP', 'BQ_OPERATING_INCOME_PER_EMP',
       'BQ_TAX_AND_INTEREST_PER_EMP', 'BQ_FISCAL_YEAR_END',
       'BQ_CURRENT_ASSETS', 'BQ_CASH',
       'BQ_TRADE_NOTES_AND_ACCOUNTS_RECEIVABLE',
       'BQ_LESS_ALLOWANCE_FOR_BAD_DEBTS', 'BQ_INVENTORIES',
       'BQ_US_GOVERNMENT_OBLIGATIONS', 'BQ_TAX_EXEMPT_SECURITIES',
       'BQ_OTHER_CURRENT_ASSETS', 'BQ_NON_CURRENT_ASSETS',
       'BQ_LOANS_TO_SHAREHOLDERS', 'BQ_MORTGAGE_AND_REAL_ESTATE_LOANS',
       'BQ_OTHER_INVESTMENTS', 'BQ_BUILDINGS_AND_OTHER_DEPRECIABLE_ASSETS',
       'BQ_LESS_ACCUMULATED_DEPRECIATION', 'BQ_DEPLETABLE_ASSETS',
       'BQ_LESS_ACCUMULATED_DEPLETION', 'BQ_LAND',
       'BQ_INTANGIBLE_ASSETS_AMORTIZABLE', 'BQ_LESS_ACCUMULATED_AMORTIZATION',
       'BQ_OTHER_NON_CURRENT_ASSETS', 'BQ_CURRENT_LIABILITIES',
       'BQ_ACCOUNTS_PAYABLE', 'BQ_SHORT_TERM_DEBT',
       'BQ_OTHER_CURRENT_LIABILITIES', 'BQ_NON_CURRENT_LIABILITIES',
       'BQ_LOANS_FROM_SHAREHOLDERS', 'BQ_LONG_TERM_DEBT',
       'BQ_OTHER_NON_CURRENT_LIABILITIES', 'BQ_TOTAL_DEBT',
       'BQ_TOTAL_LIABILITIES', 'BQ_SHAREHOLDERS_EQUITY',
       'BQ_TOTAL_LIABILITIES_AND_EQUITY', 'BQ_CURRENT_RATIO', 'BQ_QUICK_RATIO',
       'BQ_DEBT_TO_EQUITY_RATIO', 'BQ_COMPANY_NAMEfirmo',
       'BQ_COMPANY_ADDRESS1_ZIP5', 'BQ_COMPANY_ADDRESS1_ZIP9'],
      dtype='object')

In [22]:
features = ['BQ_COMPANY_NAME', 'BQ_YEAR','BQ_TOTAL_ASSETS','BQ_CURRENT_ASSETS', 'BQ_OTHER_NON_CURRENT_ASSETS' 
            ,'BQ_CASH', 'BQ_US_GOVERNMENT_OBLIGATIONS',
            'BQ_BUILDINGS_AND_OTHER_DEPRECIABLE_ASSETS', 'BQ_LAND',"BQ_DEPLETABLE_ASSETS",
            'BQ_INTANGIBLE_ASSETS_AMORTIZABLE','BQ_TOTAL_DEBT', 'BQ_MORTGAGE_AND_REAL_ESTATE_LOANS']

In [28]:
df[features].loc[df["BQ_COMPANY_NAME"] == "MICROSOFT CORP"]

,BQ_COMPANY_NAME,BQ_YEAR,BQ_TOTAL_ASSETS,BQ_CURRENT_ASSETS,BQ_OTHER_NON_CURRENT_ASSETS,BQ_CASH,BQ_US_GOVERNMENT_OBLIGATIONS,BQ_BUILDINGS_AND_OTHER_DEPRECIABLE_ASSETS,BQ_LAND,BQ_DEPLETABLE_ASSETS,BQ_INTANGIBLE_ASSETS_AMORTIZABLE,BQ_TOTAL_DEBT,BQ_MORTGAGE_AND_REAL_ESTATE_LOANS
47310,MICROSOFT CORP,2024,4.842750e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47311,MICROSOFT CORP,2023,4.705580e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47312,MICROSOFT CORP,2022,4.119760e+11,1.842570e+11,NaN,3.470400e+10,NaN,1.099870e+11,NaN,NaN,7.725200e+10,NaN,NaN
47313,MICROSOFT CORP,2021,3.648400e+11,1.696840e+11,NaN,1.393100e+10,NaN,8.754600e+10,NaN,NaN,7.882200e+10,NaN,NaN
47314,MICROSOFT CORP,2020,3.337790e+11,1.844060e+11,NaN,1.422400e+10,NaN,7.080300e+10,NaN,NaN,5.751100e+10,NaN,NaN
47315,MICROSOFT CORP,2019,3.013110e+11,1.819150e+11,NaN,1.357600e+10,NaN,5.290400e+10,NaN,NaN,5.038900e+10,NaN,NaN
47316,MICROSOFT CORP,2018,2.865560e+11,1.755520e+11,NaN,1.135600e+10,NaN,4.385600e+10,NaN,NaN,4.977600e+10,NaN,NaN
47317,MICROSOFT CORP,2017,2.588480e+11,1.696620e+11,NaN,1.194600e+10,NaN,3.614600e+10,NaN,NaN,4.373600e+10,7.224200e+10,NaN
47318,MICROSOFT CORP,2016,2.503120e+11,1.626960e+11,NaN,7.663000e+09,NaN,3.028900e+10,NaN,NaN,4.522800e+10,8.514500e+10,NaN
47319,MICROSOFT CORP,2015,1.934680e+11,1.396600e+11,NaN,6.510000e+09,NaN,1.835600e+10,NaN,NaN,2.160500e+10,5.346100e+10,NaN
47320,MICROSOFT CORP,2014,1.744720e+11,1.227970e+11,NaN,5.595000e+09,NaN,1.473100e+10,NaN,NaN,2.177400e+10,3.279300e+10,NaN
47321,MICROSOFT CORP,2013,1.723840e+11,1.142460e+11,NaN,8.669000e+09,NaN,1.301100e+10,NaN,NaN,2.710800e+10,2.264500e+10,NaN
47322,MICROSOFT CORP,2012,1.424310e+11,1.014660e+11,NaN,3.804000e+09,NaN,9.991000e+09,NaN,NaN,1.773800e+10,1.260100e+10,NaN
47323,MICROSOFT CORP,2011,1.212710e+11,8.508400e+10,NaN,6.938000e+09,NaN,8.269000e+09,NaN,NaN,1.662200e+10,NaN,NaN
47324,MICROSOFT CORP,2010,1.087040e+11,7.491800e+10,NaN,9.610000e+09,NaN,8.162000e+09,NaN,NaN,1.332500e+10,NaN,NaN

In [27]:
df[features].sample()

,BQ_COMPANY_NAME,BQ_YEAR,BQ_TOTAL_ASSETS,BQ_CURRENT_ASSETS,BQ_OTHER_NON_CURRENT_ASSETS,BQ_CASH,BQ_US_GOVERNMENT_OBLIGATIONS,BQ_BUILDINGS_AND_OTHER_DEPRECIABLE_ASSETS,BQ_LAND,BQ_DEPLETABLE_ASSETS,BQ_INTANGIBLE_ASSETS_AMORTIZABLE,BQ_TOTAL_DEBT,BQ_MORTGAGE_AND_REAL_ESTATE_LOANS
47315,MICROSOFT CORP,2019,3.013110e+11,1.819150e+11,NaN,1.357600e+10,NaN,5.290400e+10,NaN,NaN,5.038900e+10,NaN,NaN

# Partie Modélisation