In [40]:
import pandas as pd
import numpy as np

firmo = pd.read_csv("StatAPP/Firmographic_Information-0.csv")
financial = pd.read_csv("StatAPP/Financials_Annual_-0.csv")
firmo.loc[:,["BQ_ID","BQ_COMPANY_NAME","BQ_COMPANY_ADDRESS1_ZIP5","BQ_COMPANY_ADDRESS1_ZIP9"]].loc[firmo["BQ_ID"] == 100002521540]

,BQ_ID,BQ_COMPANY_NAME,BQ_COMPANY_ADDRESS1_ZIP5,BQ_COMPANY_ADDRESS1_ZIP9
199,100002521540,D.H.S. CORP,77042.0,77042-3809

# Création du dataset join, financial & firmographic

In [51]:
firmo["BQ_COMPANY_ADDRESS1_ZIP5"].isna().sum()

186

### On a 186 valeurs manquantes pour le zip

In [75]:
firmo.loc[firmo["BQ_COMPANY_ADDRESS1_ZIP5"].isna()].loc[:,["BQ_COMPANY_ADDRESS1_LINE_1","BQ_COMPANY_ADDRESS1_CITY","BQ_COMPANY_ADDRESS1_STATE"]]

,BQ_COMPANY_ADDRESS1_LINE_1,BQ_COMPANY_ADDRESS1_CITY,BQ_COMPANY_ADDRESS1_STATE
79,NaN,Las Vegas,NV
118,"New Castle, DE",NaN,No State Reported
148,"New Castle, DE",NaN,No State Reported
149,Care of Citius Pharmaceuticals Cranford,NaN,No State Reported
167,NaN,NaN,TX
...,...,...,...
4822,"New Castle, DE",NaN,No State Reported
4970,NaN,Garden City,NY
5155,NaN,NaN,NY
5216,NaN,NaN,CA
5301,NaN,NaN,NY

Mais on pourra dans le futur recrée ces valeurs manquantes à partir d'autres colonnes comme address, city ou state.

In [52]:
financial.loc[:,["BQ_ID","BQ_COMPANY_NAME"]].sample(5)

              BQ_ID           BQ_COMPANY_NAME
40256  100004119801            HOME DEPOT INC
37550  100003546601  GENESIS HEALTHCARE, INC.
19476  100001232352             BLACKROCK INC
57551  100007693062    SEADRILL AMERICAS INC.
54568  100007026935     PROVIDENT BANCORP INC

In [43]:
firmo.loc[:,["BQ_ID","BQ_COMPANY_NAME","BQ_COMPANY_ADDRESS1_ZIP5","BQ_COMPANY_ADDRESS1_ZIP9"]].sample(5)

,BQ_ID,BQ_COMPANY_NAME,BQ_COMPANY_ADDRESS1_ZIP5,BQ_COMPANY_ADDRESS1_ZIP9
4245,100003625307,GOLDEN ENTERTAINMENT INC,89118.0,NaN
4355,100005323731,LOTTERY.COM INC.,45202.0,45202-3956
4218,100003235755,FLANIGANS ENTERPRISES INC,33334.0,33334-5724
3493,100067958942,BONDBLOXX BLOOMBERG ONE YEAR TARGET DURATION U...,15642.0,15642-3461
1479,100001822826,CHESAPEAKE UTILITIES CORP,19903.0,19903-0615

In [68]:
df = financial.set_index("BQ_ID").join(firmo.loc[:,["BQ_ID","BQ_COMPANY_NAME","BQ_COMPANY_ADDRESS1_ZIP5","BQ_COMPANY_ADDRESS1_ZIP9"]].set_index("BQ_ID"), rsuffix="firmo").reset_index()
df.sample()

,BQ_ID,BQ_COMPANY_NAME,BQ_WEBSITE,BQ_YEAR,BQ_REVENUE,BQ_EBITDA,BQ_COR,BQ_NET_INCOME,BQ_GROSS_PROFIT,BQ_TOTAL_ASSETS,...,BQ_TOTAL_DEBT,BQ_TOTAL_LIABILITIES,BQ_SHAREHOLDERS_EQUITY,BQ_TOTAL_LIABILITIES_AND_EQUITY,BQ_CURRENT_RATIO,BQ_QUICK_RATIO,BQ_DEBT_TO_EQUITY_RATIO,BQ_COMPANY_NAMEfirmo,BQ_COMPANY_ADDRESS1_ZIP5,BQ_COMPANY_ADDRESS1_ZIP9
54403,100007013250,QIAGEN NV,https://www.qiagen.com/,2016,1.337991e+09,302210000.0,493338000.0,80303000.0,844653000.0,4.308194e+09,...,NaN,1.701098e+09,2.607096e+09,1.701098e+09,3.364045,2.326059,0.409304,QIAGEN NV,20874.0,20874-1415

# Partie Modélisation